@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
  }
  * {
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;  
  }
